<f:view xmlns="http://www.w3c.org/1999/xhtml"
	xmlns:f="http://java.sun.com/jsf/core"
	xmlns:h="http://java.sun.com/jsf/html"
	xmlns:ui="http://java.sun.com/jsf/facelets"
	xmlns:ng="http://xmlns.jcp.org/jsf/passthrough"
	xmlns:p="http://primefaces.org/ui">
	<h:head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
		<title>deneme</title>
		<style>
		body {font-size:12px; }
</style>
	</h:head>
	<h:body>
		<h:form>
		
			<p:panel header="deneme">
				<div style="height:50px">
					This is a simple PrimeFaces 5 project running on Spring Boot 1.1.4.
				</div>
			</p:panel>
			<p:panel header="JSF 2.2 Bean Access">
				deneme
				
			</p:panel>
			
			<p:panel header="JSF 2.2 Bean Access">
				deneme
				<h:outputText>kopkokok</h:outputText>
				<p:commandButton value="deneme"  >eoeoeo</p:commandButton>
			</p:panel>
			
			
			<p:panel id="panelFormEditButtons" columns="5" 
					style="margin-top:10px">
					<p:commandButton id="buttonFormEditSave"
						value="lşklklk"
						 style="width:130px"/>
					
				</p:panel>
			
			
		</h:form>
	</h:body>
</f:view>
